@model List<Post>
<h1>This is the BLOG!!!</h1>

<table>
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Author</td>
            <td>Fecha Publicacion</td>
            <td>Contenido</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model) {
        <tr>
            <td>@Html.DisplayFor(m=>post.Title)</td>
                <td>@Html.DisplayFor(m=>post.Author)</td>
                <td>@Html.DisplayFor(m=>post.PublishDate)</td>
                <td>@Html.DisplayFor(m=>post.Resume)</td>
                <td>Show more</td>
        </tr>
        }
    </tbody>
</table>

